{% extends 'base.html.twig' %}


{% block body %}
<div id='idHome' class="bg-[url('{{ asset('img/back.jpg') }}')] bg-center bg-no-repeat bg-fixed bg-cover h-screen">
    <div class='flex justify-center items-center text-center h-screen font-bold text-8xl text-yellow-300'>
        <span>
        China Restaurant
        <br>
        Xin-Xin
        </span>
    </div>
</div>
{% include 'home/aktuelles.twig' %}
{% endblock %}

