<div class='sticky top-0 bg-red-600 p-3 showdow-xl text-center'>
    <a href='/' class='p-3 m-5 text-xl text-yellow-300 hover:opacity-40'>Home</a>
    <a href='/speisekarte' class='p-3 m-5 text-xl text-yellow-300 hover:opacity-40'>Speisekarte</a>
    <a href='' class='p-3 m-5 text-xl text-yellow-300 hover:opacity-40'>Über uns</a>
    <a href='' class='p-3 m-5 text-xl text-yellow-300 hover:opacity-40'>Kontakt</a>
</div>